:root {
  --primaryColor: #0e1b2e;
  --textColor: #fff;
  --fontFamily: 'Poppins', sans-serif;
}

/* ------------------------
   Pantalla Modal Inicial
------------------------ */
.initModalScreem {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Texto dentro del modal */
.initModalScreem--text {
  color: var(--textColor);
  font-weight: bold;
  font-family: var(--fontFamily);
  text-align: center;
  transition: opacity 1s ease-in-out;
  padding: 1rem;
  box-sizing: border-box;
}

/* Efecto de desvanecimiento */
.initModalScreem--fadeOut {
  opacity: 0;
  transition: 1s ease-in-out;
}

/* ------------------------
   Responsive Styles
------------------------ */

/* Móviles */
@media (max-width: 599px) {
  .initModalScreem--text {
    font-size: 2rem;
    height: 200px;
    width: 300px;
  }
}

/* Tablets y pantallas medianas */
@media (min-width: 600px) and (max-width: 899px) {
  .initModalScreem--text {
    font-size: 2.5rem;
    height: 200px;
    width: 600px;
  }

  body {
    background-color: red;
  }
}

/* Pantallas grandes */
@media (min-width: 900px) {
  body {
    background-color: blue;
  }
}
